body {
    margin: auto;
    padding: auto;
    background-color: #FCF6B1;
}
.navbar{
    background-color:#F7B32B;
    text-align:center;
   font-size: larger;
   padding: 10px;
   
    height: 40px;
    
}
.navbar a{
  color: crimson;
  font-weight: bold;
  text-decoration: none;
  margin:0 60px;
  padding: 10px; 
}
.gf{
    margin: 10px;
    text-align: center;
    color: blue;
    font-size: bold;
    
}
.adresse{
    text-align: center;
    color: blue;
    font-size: bold;
}   

.global_form{
    text-align: center;
    color: blue;
    font-size: bold;
}
footer{
    margin-top: 70px;
    text-align: center;
    background-color: #F7B32B;
    height: 40px;
    padding: 10px;
    
}
footer a{
  text-decoration: none;
  color: crimson;
  font-weight: bold;
  margin:0 50px; 
  padding: 10px;
  
}